@import 'config';

.section {
  @include d-flex(space-between);
  background-color: var(--white-backg);
  height: 10.6rem;
  padding: 0 5%;
  margin: 0.5rem auto;
//   background-color: aqua;
}

.article {
  span {
    color: var(--back-color);
    margin: 0 2.438rem 0 0;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: bold;  
    opacity: 0.5;
  }

  h2 {
    // width: 12.313rem;
    color: var(--back-color);
    height: 1.813rem;
    margin: 0.188rem 20.188rem 0 0;
    font-family: RobotoSlab;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -0.2px;
  }

  p {
    // width: 85.063rem;
    // height: 63.313rem;
    // margin: 9.313rem 0 0 4.938rem;
    // padding: 10.563rem 8.688rem 20.625rem 1.313rem;
    opacity: 0.2;
    // border-radius: 4px;
    // -webkit-filter: blur(50px);
    // filter: blur(50px);
    color: var(--blue-blur);
    font-family: RobotoSlab;
    font-size: 0.875rem;
    font-weight: 300;
  }

  ul {
    @include d-flex(flex-start);
  }

  li {
    list-style: none;

    button  {
      border: none;
      outline: none;
      background-color: transparent;
      padding-right: 0.9rem;
    //   margin: 0.188rem 0.938rem 0.125rem 0;
      font-family: RobotoSlab;
      font-size: 0.875rem;
      font-weight: 300;
      color: var(--blue-blur);
      height: 1.188rem;
    }

    &:nth-child(2) button {
      padding-left: 0.9rem;
      border-left: var(--border-size);
      border-right: var(--border-size);
    }

    &:nth-child(3) button {
        padding-left: 0.9rem;
      }
}
}