@import 'config';

.bookSection {
  @include d-flex(space-between);

  @extend %boder-properties;

  background-color: var(--white-backg);
  height: 10.6rem;
  margin: 0.5rem auto;
  border: var(--border-size);
  border-radius: 4px;
  // opacity: 0.2;
  // -webkit-filter: blur(50px);
  // filter: blur(50px);
}

.update {
  button {
    margin-left: 1.125rem;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--white-backg);
    background-color: var(--blue-color);
    padding: 0.5rem 1.375rem;
    border-radius: 3px;
    text-align: center;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.article {
  margin-left: 1.7rem;

  span {
    color: var(--back-color);
    font-size: 0.875rem;
    font-weight: bold;
    opacity: 0.5;
  }

  h2 {
    color: var(--back-color);
    height: 1.813rem;
    margin-top: 0.188rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -0.2px;
  }

  p {
    opacity: 0.2;
    color: var(--blue-blur);
    font-size: 0.875rem;
    font-weight: 300;
  }

  ul {
    @include d-flex(flex-start);
  }

  .btn {
    list-style: none;
    font-family: inherit;

    button {
      background-color: transparent;
      padding-right: 0.9rem;
      font-size: 0.875rem;
      font-weight: 300;
      color: var(--blue-blur);
      height: 1.188rem;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    &:nth-child(2) button {
      padding-left: 0.9rem;
      border-left: var(--border-size);
      border-right: var(--border-size);
    }

    &:nth-child(3) button {
      padding-left: 0.9rem;
    }
  }
}

article {
  @include d-flex(center);

  flex: 1;
}

.pourcentage {
  @include d-flex(center);

  padding-right: 5.75rem;
  border-right: var(--border-size);

  .loading {
    width: 4.25rem;
    height: 4.25rem;
    margin: 0 1.3rem;
    font-family: inherit;
    color: #379cf6;
  }

  span {
    // font-size: 2rem;
    color: var(--back-color);
  }

  p {
    font-size: 0.875rem;
    color: var(--back-color);
    opacity: 0.5;
  }
}
